<launch>
    <rosparam command="load" file="$(find loam_livox)/config/performance_realtime.yaml" />
    <param name="common/pcd_save_dir" type="string" value="$(env HOME)/Loam_livox_pts" />
    <param name="common/log_save_dir" type="string" value="$(env HOME)/Loam_livox_temp" />
    <param name="common/loop_save_dir" type="string" value="$(env HOME)/Loam_livox_temp" />

    <!--If verbose the screen output-->
    <param name="common/if_verbose_screen_printf" type="int" value="1"/>

    <param name="optimization/max_allow_incre_R" type="double" value="20"/>
    <param name="optimization/max_allow_incre_T" type="double" value="1.0"/>
    <param name="optimization/max_allow_final_cost" type="double" value="2.0"/>

    <param name="loop_closure/if_enable_loop_closure" type="int" value="0"/>
    <param name="loop_closure/minimum_keyframe_differen" type="int" value="20"/>

    <node pkg="loam_livox" type="livox_scanRegistration" name="livox_scanRegistration" output="screen">
     <remap from="/laser_points" to="/livox/lidar" />
    </node>

    <node pkg="loam_livox" type="livox_laserMapping" name="livox_laserMapping" output="screen" />

    <!--<node pkg="rosbag" type="play" name="rosbag" args="-r 1.0 $(env HOME)/data/rosbag/HKU_04.bag"/>-->
    <!--HKU_04 HKU_IN_01 CYT_02 meixin_02-->
    <!--loop bag: HKUST_loop_02.bag  zym_loop_02 loop_simple-->
    <!--<node pkg="rosbag" type="play" name="rosbag" args="-r 1.0 $(env HOME)/data/rosbag/zym_loop_02.bag"/>-->
    <!--<node pkg="rosbag" type="play" name="rosbag" args="$(env HOME)/zym_loop_02.bag"/>-->
    <!-- <node pkg="rosbag" type="play" name="rosbag" args="-r 1.0 /media/ziv/5164702D15F42F9C/bag_temp/2019-08-14-00-11-46.bag"/>-->

    <node pkg="loam_livox" type="read_camera" name="read_camera" output="screen" />
    <node pkg="rosbag" type="play" name="rosbag" args="-r 2.0 $(env HOME)/data/rosbag/zym_loop_02.bag"/>

    <arg name="rviz" default="true" />
    <group if="$(arg rviz)">
        <node launch-prefix="nice" pkg="rviz" type="rviz" name="rviz" args="-d $(find loam_livox)/rviz_cfg/rosbag.rviz" />
    </group>

</launch>
